*{
  font-family: 'poppins',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}
body{
  background: rgb(73, 125, 88); 
  color: #fff;
  margin: 0px;
  padding: 0px;
}

html::-webkit-scrollbar{
  width: 0.5rem;
  background: transparent;
}
html::-webkit-scrollbar-thumb{
  background: #222231;
}
img{
  width: 100%;
}
section{
  padding: 3rem 0 2rem;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.container{
  max-width: 960px;
  margin: auto;
  width: 100%;
}

/* Header */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #171b3c;
}
.header-active{
  background: #0d0f26;
  transition: 0.4s;
}
.nav{
  display: flex;
  width: 100%;
  /* margin: auto; */
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  background: #171b3c;
}   
.logo{
  font-size: 1.2rem;
  font-weight: 600;
  color: #647bff;
  /* color: rgb(81, 81, 251); */
}
.navbar{
  display: flex;
  align-items: center;
  column-gap: 1.5rem;  
}
.nav-link{
  font-size: 0.94rem;
  padding: 4px 8px;
  border-radius: 0.2rem;
  color: #fff ;
}
.nav-link:hover{
  color: #647bff;
  background: #171b3c;
  transition: 0.3sec all linear;
}
/* Manu Icon */
.menu-icon{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  cursor: pointer;
  z-index: 200;
  transition: 0.3s;
}
.menu-icon div{
  display: block;
  background: #fff;
  height: 2px;
  width: 24px;
  transition: 0.3s;
}
.move .line1{
  transform: rotate(-45deg) translate(-5px,5px);
}
.move .line2{
  opacity: 0;
}
.move .line3{
  transform: rotate(45deg) translate(-5px,-5px);
}

/*Home */
.home{
  /* min-width: 600px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}
.home-content{
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #98a7fc;
  overflow: hidden;
  margin-bottom: 2rem;
}
.home-img{
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: center;

}
.home-txt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home-txt h3{
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1.1rem;
  color: #647bff;
}
.home-txt h3::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  left: -15px;
  width: 20px;
  height: 2px;
  background:#647bff;
}
.home-txt h3::after{
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  right: -35px;
  width: 20px;
  height: 2px;
  background:#647bff;
}
.home-txt h2{
  font-size: 3.5rem;
  line-height: 4.8rem;
}
.home-txt p{
  font-size: 0.938rem;
  margin-bottom: 1.5rem;
}
.home-txt .color{
  color: #647bff;
}
.social{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.social .bx{
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  background: #171b3c;
}
.social .bx:hover{
  background: #647bff;
  transition: 0.3s all linear;
}
.social a img{
  font-size: 1.3rem;
  height: 45px;
  width: 45px;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  background: white;
}
.social a img:hover{
  background-color: #647bff;
  transition: 0.3s all linear;
}


/* headings */
.heading{
  font-size: 5rem;
  text-transform: uppercase;
  color:#222231;
  text-align: center;
  margin-bottom: 2rem;
}
.about-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
}
.about-data span{
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #647bff;
}
.about-data h2{
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 700;
  margin: 1rem 0;
}
.btn{
  font-size: 0.97rem;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: #fff;
  background-color: #647bff;
  padding: 12px 16px;
  border-radius: 0.4rem;
  margin-top: 1rem;
}
.btn img{
  height: 1.2rem;
  width: 1.2rem;
}
.btn:hover{
  background: #546eff;
  transition: 0.3sec all linear;
}
.about-text p{
  font-size: 0.938rem;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 1.5rem;
}

/* tech stack */
.tech-content{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 40px;
  margin: auto;

}
.tech-box{
  /* width: 150px;
  height: 150px; */
  /* padding: 15px; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #090a1a;
  border-radius: 0.4rem;
  transition: 0.5s ;
}
.tech-box:hover{
  transform: scale(1.05);
  transition: 0.5sec;
}


/* skills */
.skills-content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;

}
.skills-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  background: #171b3c;
  border-radius: 0.4rem;
  transition: 0.5s all cubic-bezier(0.075,0.82,0.165,1);
}
.skills-box:hover{
  transform: scale(1.05);
  transition: 0.5s all cubic-bezier(0.075,0.82,0.165,1);
}
.skills-box .bx{
  font-size: 1.4rem;
  color: #647bff;
  padding: 10px;
  border-radius: 5rem;
  border: 2px dashed(#fff);
}
.skills-box h2{
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.5rem 0;
  color: #647bff;
}
.skills-box p{
  font-size: 0.9rem;
}

/* Projects */

.projects{

  text-align: center;
  padding: 80px 0;
}

.project{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  font-family: 'Courier New', Courier, monospace;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  gap: 10px;
  margin-bottom: 10px;
  background: #171b3c;
}

.project>div{
  /* border: 2px solid green; */
  padding: 20px;
  display: flex;
  width: 50%;
  display: flex;
  flex-direction: column;
  border-radius:10px;
  background: #171b3c;
}

.project>div:nth-child(2){
  margin: auto;
  border: 1px solid black;
}

/* .project>div:nth-child(2)>h1{ */
  /* border:1px solid #fed942; */
  /* background-color: #AAABAB; */
/* } */
/* .project>div:nth-child(2)>ul{
  /* border: 1px solid #fed942; */
 

/* } */ 
.project>div>img{
  /* border: 2px solid blueviolet; */
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
}
.project>div>h1{
 text-align: center;
}

.project>div>p:last-child{
  font-weight: bold;
}
.project>div>div{
  /* border: 1px solid red; */
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  /* border: 1px solid black; */
  justify-content: space-between;
}
.project>div>div>div>a>img{
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.project>div>div>div>img{
  width: 40px;
  height: 40px;
}
/* .project>div>div>a>img:hover{
  scale: 1.3;
} */
.project>div>div>div{
  display: flex;
  gap: 15px;
  align-items: center;
  /* border: 1px solid black; */
}

.project>div>div>div>a>button{
  width: 70px;
  height: 40px;
  transition: all 0.3s ease;
  margin-bottom: 4px;
  font-size: 18px;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.project>div>div>button>svg{
  width: 50px;
  height: 50px;
}

.hidden{
  /* opacity: 0; */
  background: #171b3c;
  /* filter: blur(5px); */
  transform: translateX(0);
  transition: all 1s ease;
}

/* .show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s ease;
} */





/* Statitics */
.statitics-content{
  display: grid;
  grid-template-columns: repeat(3,200px);
  justify-content: center;
  gap: 1.5rem;
}
.statitics-box{
  padding: 20px 10px;
  background: #0d0f26;
  border-radius: 0.4rem;
  text-align: center;
}
.statitics-box h2{
  font-size: 1.2rem;

}
.statitics-box span{
  font-size: 0.845rem;
}

/* contact Form */
.contact-form{
  max-width: 600px;
  margin: auto;
  width: 100%;
  display: grid;
  row-gap: 1rem;
}
.contact-form input,.contact-form textarea{
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding: 15px;
  color: #fff;
  background: #0d0f26;
  border-radius: 0.4rem;
}
.contact-form .send-btn{
  width: 120px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px;
  background: #647bff;
  cursor: pointer;
}
.contact-form .send-btn:hover{
  background: #546eff;
  transition: 0.3s all linear;
}


/* Footer */
.footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1.4rem;
  padding: 30px 0;
}
.footer p{
  font-size: 0.9rem;
}
.footer-links{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.footer-links a{
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
.footer-links a:hover{
  color: #647bff;
  transition: 0.3s all linear;
}

/* making responsive */
@media (max-width: 990px){
  .container{
      margin: 0 auto;
      width: 90%;
  }
}
@media (max-width: 892px){
  section{
      padding: 2rem 0;
  }
  .nav{
      padding: 12px 0;
  }
  .heading{
      font-size: 4rem;
  }
  .project-box{
      height: 257px;
  }
}
@media (max-width: 775px){
  .logo{
      font-size: 1.1rem;
  }
  .home{
      min-height: 500px;
      padding: 6rem;
  }
  .home-txt h3{
      font-size: 1rem;
  }
  .home-txt h2{
      font-size: 3rem;
      line-height: 3.8rem;
  }
  .home-txt p{
      font-size: 0.8rem;
      margin-bottom: 1.5rem;
  }
  .tech-content{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 40px;
      margin: auto;
  
  }
  .skills-content{
      grid-template-columns: repeat(2,1fr);
  }
  .project-box{
      height: 245px;
  }
  .menu-icon{
      display: flex;
  }
  .navbar{
      position: absolute;
      top: 0;
      right: -100%;
      width: 300px;
      height: 100vh;
      background: #0d0f26;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 20px;
      transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .open-menu{
      right: 0;
      transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav-link{
      display: block;
      margin: 1rem 0;
  }
  .project{
      display: flex;
      flex-direction: column;
  }

  .project>div{
   width: 80%;
   margin: auto;
  }

  .project>div:nth-child(2){
      /* background-color: black; */
      /* color:#d4d4d4; */
      /* border-radius: 40px; */
      margin: auto;
      border-left: 0px solid black;
  }
}
@media (max-width: 635px){
  .about-content{
      grid-template-columns: 1fr;
  }
  .about-data span{
      font-size: 0.9rem;
  }
  .about-data h2{
      font-size: 1.7rem;
      line-height: 2.3rem;
      font-weight: 600;
      margin: 0.8rem 0;
  }
  .about-text p{
      font-size: 00.825rem;
      margin-bottom: 1.3rem;
  }
  .project-content{
      grid-template-columns: repeat(2,220px);
  }
  .statitics-content{
      grid-template-columns: repeat(2,220px);
  }
}
@media(max-width:450px){
  header{
      width: 100%;
  }
  .home{
      min-height: 485px;
      padding-top: 5rem;
  }
  .home-img{
      width: 140px;
      height: 140px;
  }
  .home-img img{
      width: 140px;
      height: 140px;
  }
  .home-img h2{
      font-size: 2.1rem;
      line-height: 3.2rem;
  }
  .home-txt br{
      display: contents;
  }
  .social a img {
      padding: 00px;
  }
  .heading{
      font-size: 3rem;
  }
  .about-data h2{
      font-size: 1.5rem;
      line-height: 2.1rem;
      margin: 0.6rem 0;
  }
  .tech-content{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 40px;
      margin: auto;
  
  }
  .skills-content ,.project-content{
      grid-template-columns: 1fr;
  }
  .footer-links{
      flex-direction: column;
      row-gap: 1rem;
  }
  .statitics-content{
      grid-template-columns: repeat(1,220px);
  }
  .project{
      display: flex;
      flex-direction: column;
  }

  .project>div{
   width: 95%;
   margin: auto;
  }

  .project>div>div{
   flex-wrap: wrap;
  }

  .project>div>h1{
   font-size: 16px;
  }

  .project>div>div>div{
   gap: 5px;
 }
}
@media(max-width:325px){
  header{
      width: 100%;
  }
  .navbar{
      width: 100%;
  }
  .social a img {
      font-size: 1.5rem;
      padding: 0px;
  }
  .project-box{
      height: 190px;
  }
  .tech-content{
      display: grid;
      grid-template-columns: 1fr;
      gap: 40px;
      margin: auto;
  }
  .tech-box{
      padding: 50px;
  }
}